@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  --bg: #341677;
  --summary-bg: #ff7600;
  --detail-bg: #ff6363;
  --project-title: #ffd900;
  --body-text: #aed292;
  --text-shadow: #aed292;
}

body {
  height: 100%;
  background-color: var(--bg);
  font-family: "Open Sans", sans-serif;
  color: var(--body-text);
}
.container {
  display: flex;
  flex-direction: column;
}
.project-title {
  color: var(--project-title);
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
}
.project-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px auto 0 auto;
  align-content: center;
}
.project-summary {
  /* border: solid 1px; */
  /* border-right: black 2px solid; */
  padding: 10px;

  /* background-color: var(--summary-bg); */
}
.project-summary h2 {
  text-align: center;
}

.project-detail {
  /* border: solid 1px; */
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--detail-bg);
  border: 5px solid;
}

.slide {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.slide img {
  width: 100%;
  margin: 5px 0 0 1px;
}
