@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  /* section 1 */
  /* --bg1: #222831; */
  --bg1: #151226;
  /* --bg1: #370050; */

  /* --title: #f05454; */
  --title: #bf307f;
  --title: #ff048e;

  --subtitle: #939b62;
  --animating-border: #87a7b3;
  --animating-border: #e9f811;
  --btn-border: #c8c2bc;
  --btn-text: #deff8b;
  --navbar-item1: #ffd900;
  --navbar-item2: #00f2ff;
  --navbar-item3: #00ff8c;
  --navbar-item4: #ff6700;
  --navhover: #030302;
  --navhover2: #cd113b;

  /* section 2 */
  --bg2: #151226;
  --title2: #f7088b;
  --subtitle2: #f7088b;
  --basvuru-link: #00f2ff;
  --member1: #00bdaa;
  --member2: #efa8e4;
  --ekstra2: #ff6700;
  --text: #ffd900;

  /* section 3 */
  --bg3: #151226;
  --projeborder: rgb(255, 24, 224);
  --projeborder2: rgb(8, 253, 241);

  /* section 4 */
  --bg4: #151226;
}

* {
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

.updown {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 425px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
}
.updown button > i .active {
  content: "ddd";
}
/* bunu sonradan sayfanın alt orta kısmına taşıyacağım */
.updown button {
  color: rgba(245, 241, 241, 0.35);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  /* background-color: rgba(245, 241, 241, 0.342); */
  background-color: transparent;
}
#downBtn {
  bottom: 370px;
}
img {
  width: 50%;

  z-index: 0;
}
/* NAVBAR */
.navbar {
  background-color: transparent;
  position: absolute;
  top: 0;
  margin-top: 20px;
  font-size: 24px;
}

.navbar ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.navbar a {
  display: inline-block;
  background-color: transparent;
  padding: 5px;
  border-radius: 3px;
  text-align: right;
  margin-right: 15px;
  text-decoration: none;
  color: var(--navbar-item);
}

.navbar a:hover {
  /* text-shadow: 0px 0px 20px pink; */
  transform: scale(1.1);
}
.navbar a::after {
  content: "";
  align-content: center;
  text-align: center;
  display: block;
  width: 0;
  height: 2px;
  /* background-image: linear-gradient( */
  /* 83deg, */
  /* var(--navhover) -10%, */
  /* var(--navhover2) */
  /* ); */
  transition: width 0.3s;
}
.navbar a:hover::after {
  width: 100%;
}
.navbar li:nth-child(1) > a {
  color: var(--navbar-item1);
}
.navbar li:nth-child(2) > a {
  color: var(--navbar-item2);
}
.navbar li:nth-child(3) > a {
  color: var(--navbar-item3);
}
.navbar li:nth-child(4) > a {
  color: var(--navbar-item4);
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-bottom: 0;
  height: 100vh;
  width: 100vw;

  /* scroll-behavior: smooth; */
}

/* SECTION 1 */
#section1 {
  background-color: var(--bg1);
}

/* page title */
#section1 h1 {
  /* font-family: "Press Start 2P", cursive; */
  text-align: center;
  color: var(--title);
  font-size: 4rem;
  margin-bottom: 0;
  padding: 10px;
  padding-bottom: 0;
}

/* subtitle */
#section1 h2 {
  color: var(--subtitle);
  margin-top: 20px;
  padding-top: 0;
}
.main-buttons {
  display: none;
  margin-top: 50px;
}
/* Main buttons */
.main-buttons button {
  font-size: 24px;
  font-weight: 500;
  color: var(--btn-text);
  border: solid 2px var(--btn-border);
  background-color: transparent;
  padding: 10px;
  border-radius: 4px;
  margin-right: 30px;
  cursor: pointer;
  /* color: var(--text); */
}

.menu-container {
  display: flex;

  justify-content: center;
  font-weight: bold;
  font-size: 28px;
  margin: 0;

  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  background-color: var(--background);
  display: block;
  border: 3px solid var(--red);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 5rem;
  color: var(--red);
  margin-bottom: 0;
  padding-bottom: 0;
}
.sub-title {
  font-size: 2rem;
  margin-top: 0;
  font-weight: bold;
  color: grey;
}

.menu-container {
  display: flex;

  justify-content: center;
  font-weight: bold;
  font-size: 28px;
  margin: 0;

  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

a {
  margin-right: 25px;
  text-decoration: none;
  transition: all 0.15s ease-in;
  font-size: 2.5rem;
}

#menu-item-1 {
  color: var(--green);
}

#menu-item-2 {
  color: var(--yellow);
}
#menu-item-3 {
  color: var(--orange);
}
#menu-item-4 {
  color: var(--purple);
}

#section2 {
  background-color: var(--bg2);
  color: var(--ekstra2);
}
.about-us {
  color: var(--text);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}
.about-us span {
  display: flex;
  flex-direction: column;
}
/* page 2 title (about-us title) */
.about-us h2 {
  font-size: 2.7rem;
  color: var(--title2);
  text-align: center;
}
/* about-us paragraph */
.about-us p {
  width: 75%;
  text-align: center;
  line-break: auto;
  align-self: center;
  color: var(--text);
  margin-bottom: 0;
}
.meet-us h3 {
  margin-bottom: 0;
  font-size: 30px;
  padding-bottom: 0;
  color: var(--subtitle2);
  text-align: center;
}

.ekip {
  margin-top: 0;
  display: flex;
  margin-top: 0;
}
.uye {
  margin-right: 10px;
  border: 1px solid gray;
  padding: 5px;
  cursor: pointer;
  text-align: center;

  display: inline-block;
  margin: 50px 20px;
  width: 100px;
  height: 100px;
  padding: 20px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 10px 10px 0 var(--member1), -10px -10px 0 var(--member2);
}

.uye:hover {
  transform: scale(1.1);
  box-shadow: -7px -7px 0 var(--member1), 7px 7px 0 var(--member2);
  transition: linear 0.25s;
}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgb(0, 0, 0); /*Fallback color*/
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
/* Close Button */
.close {
  color: rgb(168, 24, 24);
  float: right;
  position: absolute;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: var(--member2);
  color: var(--ekstra2);
  border-radius: 5px 5px 0 0;
}
/* Modal Body */
.modal-body {
  padding: 20px;
}
/* Modal Content */
.modal-content {
  border-radius: 5px;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 0;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  position: relative;
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}
/* join us */
.join-us {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.join-us p {
  font-size: 1.1rem;
  color: var(--ekstra2);
  display: flex;
  text-align: center;
  line-break: auto;
  align-self: center;
  margin-bottom: 0;
}
.join-us h3 {
  margin-top: 2px;
  font-size: 1.5rem;
  align-self: center;
  padding: 10px;
}
.join-us h3:hover {
  transform: scale(1.2);
}
.join-us h3 > a {
  text-decoration: none;
  color: var(--basvuru-link);
  text-align: center;
  line-break: auto;
}

/* SECTION 3 */
#section3 {
  background-color: var(--bg3);
  color: #00f2ff;
}
.projects-def {
  display: flex;
  flex-direction: column;
}
.projects-def h1 {
  color: var(--navbar-item1);
  font-size: 2.5em;
  text-align: center;
}

.projects-def p {
  text-align: center;
  color: var(--ekstra2);
  font-size: 1.2rem;
}

.projects {
  width: 80%;
  height: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.project {
  width: 25%;
  height: 40%;
  margin-right: 2%;
  margin-bottom: 2%;
  border: 2px solid var(--projeborder);
  padding: 4px;
  cursor: pointer;
  overflow: hidden;
  align-items: center;
}
.project h4 {
  align-self: center;
  font-size: 1em;
  margin: 15px;
  text-align: center;
}
.project p {
  align-self: center;
  margin: 5px;
  color: white;
  font-size: 1em;
  text-align: center;
}
.project:hover {
  transform: scale(1.05);
  transition: 0.4s ease-out;
  border: 4px solid var(--projeborder2);
}

.project::before {
  content: "aaaa";
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform-origin: 0 bottom 0;
  transform: scaleY(0);
}
#section3 a {
  text-decoration: none;
  color: var(--ekstra2);
}

/* SECTION 4 */
#section4 {
  background-color: var(--bg4);
  color: #ff7b54;
}

/* KEYFRAMES */

/* Add Animation To The Modal*/
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 600px) {
  .updown {
    display: none;
  }

  .projects {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .project {
    width: 40%;
    height: 35%;
    margin: 15px;
    border: 2px solid var(--projeborder);
    padding: 15px;
    cursor: pointer;
    /* background-color: black; */
    /* flex-grow: 2; */
  }
  .project p {
    color: red;
    font-size: 1em;
  }
  .project:hover {
    transform: scale(1.05);

    transition: 0.4s ease-out;

    border: 4px solid var(--projeborder2);
  }

  .project::before {
    content: "aaaa";
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    transform-origin: 0 bottom 0;
    transform: scaleY(0);
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
